<section class="block">
    <div class="wrapper">
        <div class="block__logo-wrap">
            <img src="./img/logo.svg" alt="logo" class="login__logo">
        </div>
        <div class="block__titles">
            <p class="block__title">Авторизация</p>
            <p class="block__subtitle">Введите ваш пароль для авторизации</p>
        </div>
        <form action="" method="" class="block__form">
            <div class="block__wrap-input">
                <img src="./img/lock.svg" alt="icon" class="block__img">
                <input type="password" class="block__login input" placeholder="Введите ваш пароль" required>
            </div>
            <button type="submit" class="btn">АВТОРИЗИРОВАТЬСЯ</button>
        </form>
    </div>
</section> 
