<section class="finished top">
    <div class="wrapper">
        <header class="header">
            <img src="./img/back.svg" alt="icon" class="header__back">
            <span class="header__title">Текущая задача</span>
        </header>
        <div class="finished__main">
            <img src="./img/done.svg" alt="icons" class="finished__icon">
            <p class="finished__title">
                Текущая задача завершена!
            </p>
            <p class="finished__subtitle">
                Что бы посмотреть новые задачи, перейдите к пункту “Список задач”
            </p>
        </div>
        <button class="finished__link btn">
            ПЕРЕЙТИ К СПИСКУ ЗАДАЧ
        </button>
    </div>
</section>
