<section class="important-info-def top">
    <div class="wrapper">
        <header class="header">
            <img src="./img/back.svg" alt="icon" class="header__back">
            <span class="header__title">Важная информация
            </span>
        </header>
        <div class="important-info-def__items">
            <div class="important-info-def__item">
                <div class="important-info-def__content">
                    <span class="important-info-def__title">
                        28 Января, 18:44
                    </span>
                    <p class="important-info-def__text">
                        Какое-то название темварвапраы безниетние т содержимого
                    </p>
                    <div class="important-info-def__status">
                        <span class="important-info-def__info done">
                            Прочитано
                        </span>
                        <img src="./img/done-small.svg" alt="icon">
                    </div>
                </div>
                <button class="important-info-def__link done">
                    <img src="./img/arrow-black.svg" alt="icon">
                </button>
            </div>
            <div class="important-info-def__item">
                <div class="important-info-def__content">
                    <span class="important-info-def__title">
                        28 Января, 18:44
                    </span>
                    <p class="important-info-def__text">
                        Какое-то название темварвапраы безниетние т содержимого
                    </p>
                    <div class="important-info-def__status">
                        <span class="important-info-def__info inProgress">
                            Не прочитано
                        </span>
                        <img src="./img/done-inprogres.svg" alt="icon">
                    </div>
                </div>
                <button class="important-info-def__link inProgress">
                    <img src="./img/arrow-black.svg" alt="icon">
                </button>
            </div>
            <div class="important-info-def__item">
                <div class="important-info-def__content">
                    <span class="important-info-def__title">
                        28 Января, 18:44
                    </span>
                    <p class="important-info-def__text">
                        Какое-то название темварвапраы безниетние т содержимого
                    </p>
                    <div class="important-info-def__status">
                        <span class="important-info-def__info done">
                            Прочитано
                        </span>
                        <img src="./img/done-small.svg" alt="icon">
                    </div>
                </div>
                <button class="important-info-def__link done">
                    <img src="./img/arrow-black.svg" alt="icon">
                </button>
            </div>
            <div class="important-info-def__item">
                <div class="important-info-def__content">
                    <span class="important-info-def__title">
                        28 Января, 18:44
                    </span>
                    <p class="important-info-def__text">
                        Какое-то название темварвапраы безниетние т содержимого
                    </p>
                    <div class="important-info-def__status">
                        <span class="important-info-def__info inProgress">
                            Не прочитано
                        </span>
                        <img src="./img/done-inprogres.svg" alt="icon">
                    </div>
                </div>
                <button class="important-info-def__link inProgress">
                    <img src="./img/arrow-black.svg" alt="icon">
                </button>
            </div>
        </div>
    </div>
    
</section>
