<section class="tasks top">
    <div class="wrapper">
        <header class="header">
            <img src="./img/back.svg" alt="icon" class="header__back">
            <span class="header__title">Список задач</span>
        </header>
        <div class="tasks__items">
            <div class="tasks__item">
                <div class="tasks__header">
                    <div class="tasks__num">
                        <span class="tasks__num-title">Номер заказа:</span><span class="tasks__num-val">№ <span>4322</span></span>
                    </div>
                    <div class="tasks__status">
                        <span class="tasks__status-title">Статус заказа:</span><span class="tasks__status-val">В ожидании</span>
                    </div>
                </div>
                <div class="tasks__loading">
                    <p class="tasks__loading-title">Место загрузки:</p>
                    <p class="tasks__loading-text">309290, обл. Белгородская, г. Шебекино, ряд. 3, гск. Район Глиняного карьера, д. 39</p>
                </div>
                <div class="tasks__unloading">
                    <p class="tasks__unloading-title">Место выгрузки:</p>
                    <p class="tasks__unloading-text">309290, обл. Белгородская, г. Шебекино, ряд. 3, гск. Район Глиняного</p>
                </div>
                <div class="tasks__info">
                    <img src="./img/info-circle.svg" alt="icon" class="tasks__info-icon">
                    <span class="tasks__info-title">Дополнительная информация:</span>
                    <p class="tasks__info-text">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее</p>
                </div>
            </div>
        </div>
    </div>
</section>
