<section class="menu top">
    <div class="wrapper">
        <header class="header">
            <span class="header__title">Меню</span>
        </header>
        <div class="menu__items">
            <div class="menu__item">
                <img src="./img/coolicon.svg" alt="icon" class="menu__img">
                <span class="menu__title">Список задач</span>
                <a href="#" class="menu__link"></a>
            </div>
            <div class="menu__item">
                <img src="./img/check.svg" alt="icon" class="menu__img">
                <span class="menu__title">Текущая задача</span>
                <a href="#" class="menu__link"></a>
            </div>
            <div class="menu__item">
                <img src="./img/list.svg" alt="icon" class="menu__img">
                <span class="menu__title">Топливные листы</span>
                <a href="#" class="menu__link"></a>
            </div>
            <div class="menu__item">
                <img src="./img/info.svg" alt="icon" class="menu__img">
                <span class="menu__title">Важная информация</span>
                <a href="#" class="menu__link"></a>
            </div>
            <div class="menu__item orange">
                <img src="./img/notification.svg" alt="icon" class="menu__img">
                <span class="menu__title">Уведомления</span>
                <a href="#" class="menu__link menu__link--orange"></a>
            </div>
        </div>
    </div>
</section>
