<section class="block">
    <div class="wrapper">
        <div class="block__logo-wrap">
            <img src="./img/logo.svg" alt="logo" class="block__logo">
        </div>
        <div class="block__titles">
            <p class="block__title">Установите новый пароль</p>
            <p class="block__subtitle">Придумайте новый пароль для авторизации</p>
        </div>
        <form action="" method="" class="block__form">
            <div class="block__wrap-input">
                <img src="./img/lock.svg" alt="icon" class="block__img">
                <input type="password" class="block__login input" placeholder="Введите новый пароль" required>
            </div> 
            <div class="block__wrap-input">
                <img src="./img/lock.svg" alt="icon" class="block__img">
                <input type="password" class="block__password input" name="password" required placeholder="Повторите новый пароль">
            </div>
            <button type="submit" class="btn">АВТОРИЗИРОВАТЬСЯ</button>
        </form>
    </div>
</section>    
