<section class="notification top">
    <div class="wrapper">
        <header class="header">
            <img src="./img/back.svg" alt="icon" class="header__back">
            <span class="header__title">Уведомления
            </span>
        </header>
        <div class="info__main">
            <div class="info__titles">
                <p class="info__title">
                    Название темы
                </p>
                <p class="info__subtitle">
                    Какое-то название темварвапа афыв раы безниепвыаптние т содержимого
                </p>
            </div>
            <div class="info__content">
                <p class="info__title">
                    Описание
                </p>
                <p class="info__text">
                    Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менееСайт рыбатекст помоКСайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менееСайт рыбатекст поможет дизайнеру, верстальщжет дизайнеру, верстальщ
                </p>
                <div class="info__details">
                    <span class="info__status">Прочитано</span>
                    <img src="./img/done-small.svg" alt="icon">
                </div>
            </div>
        </div>
    </div>
</section>
