<section class="oil-list top">
    <div class="wrapper">
        <header class="header">
            <img src="./img/back.svg" alt="icon" class="header__back">
            <span class="header__title">Топливные листы
            </span>
            <button class="header__btn">+</button>
        </header>
        <div class="oil-list__items">
            <div class="oil-list__item">
                <div class="oil-list__calendar">
                    <img src="./img/calendar.svg" alt="icon" class="oil-list__icon">
                </div>
                <div class="oil-list__data">
                    <span class="oil-list__mounth">Январь</span>
                    <p class="oil-list__period">
                        <span class="oil-list__start">
                            01.01.2020
                        </span>
                        <img src="./img/arrow-white.svg" alt="icon">
                        <span class="oil-list__end">
                            31.01.2020
                        </span>
                    </p>
                </div>
                <img class="oil-list__link" src="./img/arrow.svg" alt="icon">
            </div>
            <div class="oil-list__item">
                <div class="oil-list__calendar">
                    <img src="./img/calendar.svg" alt="icon" class="oil-list__icon">
                </div>
                <div class="oil-list__data">
                    <span class="oil-list__mounth">Январь</span>
                    <p class="oil-list__period">
                        <span class="oil-list__start">
                            01.01.2020
                        </span>
                        <img src="./img/arrow-white.svg" alt="icon">
                        <span class="oil-list__end">
                            31.01.2020
                        </span>
                    </p>
                </div>
                <img class="oil-list__link" src="./img/arrow.svg" alt="icon">
            </div>
            <div class="oil-list__item">
                <div class="oil-list__calendar">
                    <img src="./img/calendar.svg" alt="icon" class="oil-list__icon">
                </div>
                <div class="oil-list__data">
                    <span class="oil-list__mounth">Январь</span>
                    <p class="oil-list__period">
                        <span class="oil-list__start">
                            01.01.2020
                        </span>
                        <img src="./img/arrow-white.svg" alt="icon">
                        <span class="oil-list__end">
                            31.01.2020
                        </span>
                    </p>
                </div>
                <img class="oil-list__link" src="./img/arrow.svg" alt="icon">
            </div>
        </div>
    </div>
</section>
