<section class="oil-list-history top">
    <div class="wrapper">
        <header class="header">
            <img src="./img/back.svg" alt="icon" class="header__back">
            <span class="header__title">Топливные листы
            </span>
        </header>
        <form class="oil-list-new__wrap">
            <div class="oil-list-new__items">
                <label for="date" class="oil-list-new__label">
                    Дата
                </label>
                <span class="oil-list-new__inp"></span>
                <input type="date" name="date" class="oil-list-new__inp">
                <img src="./img/calendar.svg" alt="icon" class="oil-list-new__icon">
            </div>
            <div class="oil-list-new__items">
                <label for="litres" class="oil-list-new__label">
                    Литры 
                </label>
                <input type="number"  name="litres" class="oil-list-new__inp" placeholder="0">
                <img src="./img/crude.svg" alt="icon" class="oil-list-new__icon">
            </div>
            <div class="oil-list-new__items">
                <label for="price" class="oil-list-new__label">
                    Цена
                </label>
                <input name="price" class="oil-list-new__inp" type="number" placeholder="0">
                <img src="./img/wallet.svg" alt="icon" class="oil-list-new__icon">
            </div>
            <button class="btn">СОХРАНИТЬ</button>
        </form>
        <div class="oil-list-history__wrap">
            <p class="oil-list-history__title">
                История
            </p>
            <div class="oil-list-history__items">
                <div class="oil-list-history__item">
                    <div class="oil-list-history__column">
                        <span class="oil-list-history__item-title">Дата</span>
                        <span class="oil-list-history__item-val">28.01.2021</span>
                    </div>
                    <div class="oil-list-history__column">
                        <span class="oil-list-history__item-title">Литры</span>
                        <span class="oil-list-history__item-val">25</span>
                    </div>
                    <div class="oil-list-history__column">
                        <span class="oil-list-history__item-title">Цена</span>
                        <span class="oil-list-history__item-val">1 175 <span>₽</span></span>
                    </div>
                </div>
                <div class="oil-list-history__item">
                    <div class="oil-list-history__column">
                        <span class="oil-list-history__item-title">Дата</span>
                        <span class="oil-list-history__item-val">28.01.2021</span>
                    </div>
                    <div class="oil-list-history__column">
                        <span class="oil-list-history__item-title">Литры</span>
                        <span class="oil-list-history__item-val">25</span>
                    </div>
                    <div class="oil-list-history__column">
                        <span class="oil-list-history__item-title">Цена</span>
                        <span class="oil-list-history__item-val">1 175 <span>₽</span></span>
                    </div>
                </div>
                <div class="oil-list-history__item">
                    <div class="oil-list-history__column">
                        <span class="oil-list-history__item-title">Дата</span>
                        <span class="oil-list-history__item-val">28.01.2021</span>
                    </div>
                    <div class="oil-list-history__column">
                        <span class="oil-list-history__item-title">Литры</span>
                        <span class="oil-list-history__item-val">25</span>
                    </div>
                    <div class="oil-list-history__column">
                        <span class="oil-list-history__item-title">Цена</span>
                        <span class="oil-list-history__item-val">1 175 <span>₽</span></span>
                    </div>
                </div>
                <div class="oil-list-history__item">
                    <div class="oil-list-history__column">
                        <span class="oil-list-history__item-title">Дата</span>
                        <span class="oil-list-history__item-val">28.01.2021</span>
                    </div>
                    <div class="oil-list-history__column">
                        <span class="oil-list-history__item-title">Литры</span>
                        <span class="oil-list-history__item-val">25</span>
                    </div>
                    <div class="oil-list-history__column">
                        <span class="oil-list-history__item-title">Цена</span>
                        <span class="oil-list-history__item-val">1 175 <span>₽</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
