<section class="oil-list-new top">
    <div class="wrapper">
        <header class="header">
            <img src="./img/back.svg" alt="icon" class="header__back">
            <span class="header__title">Новый топливный лист
            </span>
        </header>
        <div class="oil-list-new__wrap">
            <div class="oil-list-new__items">
                <label for="car" class="oil-list-new__label">
                    Выбор машины
                </label>
                <select type="text" name="car" class="oil-list-new__inp select">
                    <option selected disabled>H -XXX XXX</option>
                    <option value="H -333 333">H -333 333</option>
                    <option value="H -333 333">H -333 333</option>
                    <option value="H -333 333">H -333 333</option>
                    <option value="H -333 333">H -333 333</option>
                </select>
                <img src="./img/wheel.svg" alt="icon" class="oil-list-new__icon">
            </div>
            <div class="oil-list-new__items">
                <label for="distance-start" class="oil-list-new__label">
                    Пробег <span>(начало)</span> 
                </label>
                <input type="number"  name="distance-start" class="oil-list-new__inp" placeholder="0" pattern="[0-9]*">
                <img src="./img/speed.svg" alt="icon" class="oil-list-new__icon">
            </div>
            <div class="oil-list-new__items">
                <label for="distance-end" class="oil-list-new__label">
                    Пробег <span>(окончание)</span>
                </label>
                <input name="distance-end" class="oil-list-new__inp" type="number" placeholder="0"  pattern="[0-9]*">
                <img src="./img/speed-and.svg" alt="icon" class="oil-list-new__icon">
            </div>
            <div class="oil-list-new__items">
                <label for="date-start" class="oil-list-new__label">
                    Дата <span>(начало)</span>
                </label>
                <span class="oil-list-new__inp"></span>
                <input type="date" name="date-start" class="oil-list-new__inp">
                <img src="./img/calendar.svg" alt="icon" class="oil-list-new__icon">
            </div>
            <div class="oil-list-new__items">
                <label for="date-end" class="oil-list-new__label">
                    Дата <span>(окончание)</span>
                </label>
                <input type="date" name="date-end" class="oil-list-new__inp">
                <img src="./img/calendar.svg" alt="icon" class="oil-list-new__icon">
            </div>
            <button class="btn">СОЗДАТЬ ТОПЛИВНЫЙ ЛИСТ</button>
        </div>
    </div>
</section>
